@page "{handler?}"
@model TeamsAdminUI.Pages.CreatedTeamsMeetingModel
@{
}

<h1>Teams Meeting Created</h1>

<h2>Meeting Subject:</h2>

<p>@Model.Meeting.Subject</p>

<h2>Meeting Id:</h2>

<p>@Model.Meeting.Id</p>

<h2>JoinUrl</h2>

<p>@Model.Meeting.JoinUrl</p>

<h2>Participants</h2>

@foreach(var attendee in Model.Meeting.Participants.Attendees)
{
	<label>Attendee</label>
	<p>@attendee.Upn</p>

}
